<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/common/fragment_config :: f_config"></head>
<th:block layout:fragment="localcss">
</th:block>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <nav th:replace="fragments/common/fragment_header :: headerFragment"></nav>
    <aside th:replace="fragments/common/fragment_side :: sideFragment"></aside>
    <div layout:fragment="content"></div>
    <footer th:replace="fragments/common/fragment_footer :: footerFragment"></footer>
</div>

<th:block th:replace="fragments/common/fragment_jsimport :: f_jsimport"></th:block>
<th:block layout:fragment="localjs">
</th:block>
<script layout:fragment="jsscript"></script>
</body>

</body>
</html>