<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">

	<!-- Appender, Layout 설정 -->
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    %d | %p | %t | %m%n
                </pattern>>
            </PatternLayout>
        </Console>
    </Appenders>

    <!--  Logger 설정 -->
    <Loggers>  
        <Logger name="com.powernote.skeleton" level="info" additivity="false">
			<AppenderRef ref="Console-Appender" />
		</Logger>
        <Root>
            <AppenderRef ref="Console-Appender"/>
        </Root>
    </Loggers> 
		
</Configuration>

