<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.powernote.skeleton.powernoteboard.mapper.PowernoteBoardMapper">
    <insert id="save" parameterType="com.powernote.skeleton.powernoteboard.dto.PowerNotePostDataDto">
        insert into TB_POWEWRNOTEBOARD_POST ( POST_NO, CATEGORY_NAME, TITLE ,  CONTENT , USER_NO, REG_DATE ,  UPT_DATE ) values (
            TB_POWEWRNOTEBOARD_POST_SEQ.NEXTVAL,
            #{categoryName},
            #{title},
            #{content},
            #{userNo},
            SYSDATE,
            SYSDATE
        )
    </insert>

    <resultMap id="powernotePostResult" type="com.powernote.skeleton.powernoteboard.vo.PowerNotePostDataVo">
        <id property="postNo" column="POST_NO" />
        <result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <result property="viewCnt" column="VIEW_CNT"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
        <result property="uptDate" column="UPT_DATE"/>
        <association property="user" javaType="com.powernote.skeleton.vo.UserVo">
            <id property="userNo" column="USER_NO"/>
            <result property="email" column="EMAIL"/>
            <result property="userName" column="USER_NAME"/>
            <result property="nickName" column="NICK_NAME"/>
            <result property="profileImg" column="PROFILE_IMG"/>
            <result property="roles" column="ROLES"/>
        </association>
    </resultMap>

    <select id="findByWord" parameterType="HashMap" resultMap="powernotePostResult">
<!--        oracle 12 이후 -->
        SELECT *
        FROM TB_POWEWRNOTEBOARD_POST PO
        LEFT JOIN TB_USER TU on PO.USER_NO = TU.USER_NO
        <where>
<!--            <if test="title != null">title like  ('%'||#{title}||'%')</if>-->
            <if test="boardNo != null">AND BOARD_NO = #{boardNo}</if>
            <if test="categoryName != null">AND CATEGORY_NAME = #{categoryName}</if>
            <if test="title_content != null">AND (title like ('%'||#{title_content}||'%') or content like ('%'||#{title_content}||'%'))</if>
        </where>
        ORDER BY POST_NO desc
        OFFSET #{offset} ROWS FETCH NEXT #{pageSize} ROWS ONLY

<!--        select * from TB_BOARD_POST-->
<!--        <where>-->
<!--            <if test="title != null">title = #{title}</if>-->
<!--            <if test="content != null">AND title like #{content}</if>-->
<!--        </where>-->
<!--        order by post_no desc-->
<!--        limit #{pageSize}-->
<!--        offset #{offset}-->
    </select>

    <select id="findByWordCount" resultType="Integer">
        SELECT count(*) from (
            SELECT *
            FROM TB_POWEWRNOTEBOARD_POST PO
            LEFT JOIN TB_USER TU on PO.USER_NO = TU.USER_NO
            <where>
                <!--            <if test="title != null">title like  ('%'||#{title}||'%')</if>-->
                <if test="boardNo != null">AND BOARD_NO = #{boardNo}</if>
                <if test="categoryName != null">AND CATEGORY_NAME = #{categoryName}</if>
                <if test="title_content != null">AND (title like ('%'||#{title_content}||'%') or content like ('%'||#{title_content}||'%'))</if>
            </where>
        )
    </select>

    <select id="findByPostId" parameterType="String" resultMap="powernotePostResult">
        SELECT *
        FROM TB_POWEWRNOTEBOARD_POST PO
        LEFT JOIN TB_USER TU on PO.USER_NO = TU.USER_NO
        where POST_NO = #{postNo}
    </select>

    <update id="update" parameterType="com.powernote.skeleton.powernoteboard.dto.PowerNotePostDataDto">
        update TB_POWEWRNOTEBOARD_POST
        set TITLE = #{title},
            CONTENT = #{content},
            UPT_DATE = SYSDATE
        where POST_NO = #{postNo}
    </update>

    <update id="updateViewCnt" parameterType="String">
        update TB_POWEWRNOTEBOARD_POST
        set VIEW_CNT = VIEW_CNT + 1
        where POST_NO = #{postNo}
    </update>

    <update id="delete" parameterType="com.powernote.skeleton.powernoteboard.dto.PowerNotePostDataDto">
        select * from TB_POWEWRNOTEBOARD_POST
    </update>
</mapper>