<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="sideFragment">
  <!-- Brand Logo -->
  <a href="/main" th:href="@{/main}" class="brand-link">
    <img th:src="@{/images/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">Power Note</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
        </li>

        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a href="/board/main" th:href="@{/board/main}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>게시판</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Page 2</p>
          </a>
        </li>
        <li class="nav-header">EXAMPLES</li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Pages 3
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>page 3-1</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>page 3-2</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-plus-square"></i>
            <p>
              Extras
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Extras page 1</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Extras page 2</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-header">Docs</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>Documentation</p>
          </a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a href="/user/login" th:href="@{/user/login}" class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>로그인</p>
          </a>
        </li>
<!--        <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">-->
<!--          <a href="/user/login" class="nav-link">-->
<!--            <i class="nav-icon fas fa-file"></i>-->
<!--            <p>USER</p>-->
<!--          </a>-->
<!--        </li>-->
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a href="/user/profile" th:href="@{/user/profile}" class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>회원정보</p>
          </a>
        </li>

        <li class="nav-item" sec:authorize="isAnonymous()">
          <a href="/user/regist" th:href="@{/user/regist}"  class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>회원가입</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

</html>